.craft {
   overflow: auto;

   &__title {

   }

   &__container {

   }
}

.craft-card {
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #F6F3ED;
   min-height: 48px;
   padding: 9px;
   border-radius: 15px;
   gap: 15px;
   margin-bottom: 15px;
   user-select: none;

   &__reward {
      background: white;
      padding: 6px 9px;
      border-radius: 9px;
      box-shadow: 0 3px 6px rgba(0, 0, 0, .09);
      cursor: pointer;

      &__image {
         width: 64px;
      }

      &__amount {
         display: block;
         font-size: 11px;
         color: rgba(0, 0, 0, .6);
         font-weight: 600;
      }

      &__name {
         display: block;
         font-size: 12px;
         color: rgba(0, 0, 0, 1);
         font-weight: 600;
         margin-top: 2px;
      }
   }

   &__info {
      flex: 1;

      &__title {
         font-size: 14px;
         font-weight: 600;
      }

      &__mat-container {
         width: 100%;
         display: flex;
         gap: 12px;
         margin-top: 6px;

         &__mat {
            padding: 4px;
            border-width: 1px;
            border-style: solid;
            border-image: initial;
            border-color: #E9E5DD;
            border-radius: 8px;
            display: flex;
            align-items: center;
            justify-content: center;

            &__image {
               width: 24px;
               height: 24px;
            }
   
            &__amount {
               font-style: normal;
               font-weight: 600;
               font-size: 14px;
               line-height: 20px;
               color: #383736;
               padding: 0px 6px;
               margin: 0;
            }
         }
      }
   }

   &__action {
   }
}