.card {
   display: flex;
   align-items: flex-start;
   flex-direction: column;
   padding: 16px;
   border-radius: 16px;
   background-color: #fff;
   cursor: pointer;
   user-select: none;
   max-height: 180px;

   &:hover {
      background-color: #F6F3ED;
   }

   &__image {
      height: 120px;
      margin: auto;
   }

   &__own-count {
      display: block;
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 16px;
      color: #99968F;
      margin: 0;
      margin-top: 12px;
   }

   &__name {
      display: block;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.1px;
      color: #1A1A1A;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 0;
      margin-top: 3px;
   }
}