.land {
   width: 900px;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;

   &__container {
      width: 100%;
      background: url("../../assets/land1.png") no-repeat center center / contain;
      position: relative;
   
      &::after {
         content: "";
         display: block;
         padding-top: 100%;
      }
   }
}